* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(40%, 1% + 2vw, 62.5%);               /*responsividade*/
    --WrapperColor: #242424;
    --hue: 194;
    --bg-color:hsl(var(--hue), 5%, 7%);
    --text-color:hsl(var(--hue), 40%, 98%);
    --primary-color:hsl(var(--hue), 100%, 63%);
    --controls-bg-color:hsl(var(--hue), 0%, 14%);
}

html.light {
    --text-color:hsl(var(--hue), 5%, 7%);
    --bg-color:hsl(var(--hue), 40%, 98%);
    --primary-color:hsl(var(--hue), 100%, 63%);
    --controls-bg-color:hsl(var(--hue), 0%, 14%);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    height: 100vh;
    place-content: center;
    transition: background-color 0.7s;
}

#app {
    display: grid;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;
}

#timer {
    font-size: 9.6rem;
    font-weight: bold;
    font-family: roboto;
}

#controls {
    display: flex;
    justify-content: space-around;
    margin-top:1.6rem;
    padding: 2.2rem 4rem;
    gap: 1.6rem;
    background-color: var(--controls-bg-color);
    border-radius: 999rem;
}

button {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 6.4rem;
    transition: all 0.5s;
}

button:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

button:active {
    transform: scale(0.9);
    filter: brightness(0.5) grayscale(0.8);
    transition: 0.5s;
}

.secondary {
    color: #F8FBFC;
}

html.light .ph-sun,
html:not(.light) .ph-moon
{
    display: none;
}

#toggle-mode {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: var(--text-color);
}

.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle
/* ,html:not(.running) .ph-speaker-high  */
{
    display: none;
}

.sound .ph-speaker-high,
html:not(.sound) .ph-speaker-none {
    display: none;
}