.main-title {
    /* border: 1px solid green; */
    grid-area: part-2;
    max-width: 35rem;
}

.main-title p {
    /* overline */
    font-family: var(----font-family-roboto-mono-overline);
    color: var(--gradient-content);
    background: var(--gradient-content);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 1rem;
    
}
/*  */
.main-title h1 {
    font-family: var(--font-family-sora-display);
    font-weight: bolder;
    line-height: 130%;
    font-size: var(--fs-display-md);
    margin-bottom: 4rem;
}