* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* rem conversion (1rem=10px) */
    --font-size: 62.5%;

    /* cores */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* background */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* accent */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0A0;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* gradient */
    --gradient-border: linear-gradient(#77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%) 1;
    --gradient-background: linear-gradient(90deg, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);

    /* tipografia */
    --font-family-sora-display: "Sora", serif;
    --font-family-roboto-mono-overline: "Roboto Mono", serif;
    --font-family-roboto-flex-p-label: "Roboto Flex", sans-serif;

    /* font-size */
    --fs-display-lg: 7.2rem;
    --fs-display-md: 4.0rem;
    --fs-display-sm: 3.2rem;
    --fs-overline: 1.6rem;
    --fs-paragraph-lg: 1.6rem;
    --fs-paragraph-md: 1.4rem;
    --fs-paragraph-sm: 1.2rem;
    --fs-label-md: 2.0rem;
    --fs-label-sm: 1rem;

    /* line-height */
    --lh-display-lg: 130%;
    --lh-display-md: 130%;
    --lh-display-sm: 130%;
    --lh-overline:  150%;
    --lh-paragraph-lg: 150%;
    --lh-paragraph-md: 150%;
    --lh-paragraph-sm: 150%;
    --lh-label-md: 150%;
    --lh-label-sm: 150%;

    /* font-weight */
    --fw-display-lg: bolder;
    --fw-display-md: bolder;
    --fw-display-sm: bold;
    --fw-overline:  bold;
    --fw-paragraph-lg: medium;
    --fw-paragraph-md: medium;
    --fw-paragraph-sm: medium;
    --fw-label-md: bold;
    --fw-label-sm: bold;

    /* text-transform uppercase */
    --tt-display-lg: uppercase;
    --tt-display-md: uppercase;
    --tt-display-sm: uppercase;
    --tt-overline:  uppercase;
}


body {
    width: 100vw;
    background-image: url(../assets/background.png);
    background-color: var(--background-primary);
    color: var(--content-primary);
    font-family: var(--font-family-roboto-flex-p-label);
    overflow-x: hidden;
}