/* tudo que consta na página, unica definição é o fundo preto */
body {
    background-color: black;
}

/* parte mais escura arredondada */
#pagina {
    box-sizing: border-box;
    width: 1260px;                                  /* figma */
    padding: 24px;                                  /* figma */
    background-color: #333333;                    /* figma */
    border-radius: 24px;                            /* figma */
    margin: 40px auto;                              /* 1º é espacamento de cima e de baixo (48). 2º é da esq e dir (auto) */
}

/* parte branca, com textos e imgs */
#content {
    background-color: #F5F4F0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sessao-um { 
    padding-left: 28px;
    padding-right: 20px;
}

#linha {
    background-color: rgb(165, 165, 165);
    width: 100%; /* Largura da linha */
    height: 2px; /* Altura da linha */
}

/* * {
    margin-left: 20px;
    margin-right: 20px;
} */


.porange {
    color: #E1624F;
    font-size: 16pt;
    font-family: 'Open Sans';
    padding-top: 40px;
}



.toptitle {
    font-size: 36px;
}

.container {
    display: grid;
    justify-items: center;
}

img{
    /* height: 100px; */
    width: auto;
}

.general-paragraf {
    font-size: 18px;
}


#topic-one {
    font-size: 18px;
    color: #0C51A7;
    line-height: 1px;
}

#topic-two {
    line-height: 1px;
    color: #591B98;
}

#topic-three {
    line-height: 1px;
    color: #E5245E;
}

#topic-four {
    line-height: 1px;
    color: #E95E10;
}

footer img {
    vertical-align: middle;
}