.sorting {
    grid-area: part-3;
    max-width: 30rem;
    margin-left: 10rem;
    /* border: 1px solid blue; */
}


.sorted-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 20rem;
    gap: 0.5rem;
    padding: 0.5rem;
    
    &::-webkit-scrollbar {
        width: 0.5rem; 
        height: 0.5rem; 
    }

    &::-webkit-scrollbar-track {
        background: black;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--background-tertiary);
        border-radius: 10px;
    }
}


.sorting h2 {
    font-family: var(--font-family-roboto-flex-p-label);
    font-weight: bold;
    line-height: 150%;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.sorting p {
    font-family: var(--font-family-roboto-flex-p-label);
    line-height: var(--lh-paragraph-md);
    font-size: 1.2rem;
    color: var(--content-tertiary);
    margin: 2px auto 3.5rem auto;
}


.resulting-numbers {
    font-family: var(--font-family-roboto-mono-overline);
    font-size: var(--fs-display-md);
    font-weight: bold;
    line-height: var(--lh-label-md);
    color: var(--content-brand);
    margin: 0.5rem;
    animation: opposite-direction 3s ease forwards;
}


.sorted-numbers div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 9rem;
    height: 7rem;
    background-color: var(--content-brand);
    animation: appearing-nums 3s ease forwards;
}

@media screen and (max-width: 425px) {
    .sorting {
        margin-left: 0;
    }
}


@keyframes appearing-nums {
    0% {
        color: black;
        background-color: var(--content-brand);
        transform: rotate(0deg);
    }

    100% {
        color: white;
        background-color: black;
        transform: rotate(360deg);
    }
}

@keyframes opposite-direction {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}