.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--background-brand);
    font-size: 1rem;
    background-color: var(--background-secondary);
    width: 18rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 0 0 1rem 0;
    margin-bottom: 2rem;
}



@media screen and (max-width: 426px) {
    .logo-wrapper{ 
        position: absolute;
        top: 0;
        left: 0;
    }

}

